<?xml version='1.0' encoding='utf-8'?>
<!--
  Copyright 2016 Franco Bugnano

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<plugin id="cordova-plugin-networking-multipeer" version="1.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Multipeer Networking</name>
	<description>Multipeer Connectivity Plugin for Cordova</description>
	<author>Franco Bugnano</author>
	<license>Apache 2.0</license>
	<keywords>cordova,multipeer,network,networking,connectivity,mp,mc,mpc,socket,client,server,multi,peer,p2p</keywords>

	<js-module name="CDVNetEvent" src="www/CDVNetEvent.js" />
	<js-module name="NetworkingMultipeer" src="www/NetworkingMultipeer.js">
		<clobbers target="networking.multipeer" />
	</js-module>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="NetworkingMultipeer">
				<param name="ios-package" value="NetworkingMultipeer" />
			</feature>
		</config-file>
		<header-file src="src/ios/NetworkingMultipeer-Bridging-Header.h" />
		<source-file src="src/ios/NetworkingMultipeer.swift" />
		<header-file src="src/ios/TryCatch.h" />
		<source-file src="src/ios/TryCatch.m" />
		<dependency id="cordova-plugin-add-swift-support" version="1.4.0" />
	</platform>
</plugin>

